@media screen and (max-width:767px) {
    #tryfree {
        display:none;
    }
    .section1 img {
        display:none;
    }
}

/* ///   TABLET / IPAD SCREEN  ////  */

@media screen and (min-width:768px) {
    .header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .header img {
        width:15rem;
    }

    h2 {
        font-size:28px;
    }
    #tryfree {
        width:30%;
        padding:10px;
        background-color:#fff;
        height:2rem;
        margin:10px;
        border:none;
        border-radius:25px;
        color:#000;
        font-weight:700;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(204,204,204,1);
        -moz-box-shadow: 0px 0px 15px 2px rgba(204,204,204,1);
        box-shadow: 0px 0px 15px 2px rgba(204,204,204,1);
    }
    .section1 {
        display:flex;
        flex-direction:row;
        justify-content:center;
        margin-bottom:50px;
    }
    .section1 img {
        width:50%;
    }
    #item {
        margin:1em;
    }
    h3 {
        text-align:center;
    }
    .signup {
        display:flex;
        flex-direction: row;
        justify-content:center;
        margin-bottom:50px;
    }
    input {
        width:30%;
        border-radius:10px;
    }
    #regbtn {
        width:20%;
    }

    .footer {
        display:grid;
        grid-template-columns: 0.4fr 0.4fr 0.1fr auto;
        grid-template-rows: 0.6fr 0.3fr;
        grid-template-areas: "logo socmed links links" "copyright copyright copyright copyright";
    }

    .logo { grid-area: logo; } 
    .links { grid-area: footerlinks; } 
    .copyright { grid-area: copyright; }
    .socialmedia { grid-area: socmed; }

    #logo {
        margin-right:25px;
    }
    .footerlinks {
        display:inline;
    }

    #socmed a {
        font-size:18px;
    }
}


/* ///   DESKTOP SCREEN  ////  */

@media screen and (min-width:1050px) {

    h2 {
        font-size:2.5em;
    }

    h3 {
        font-size: 2.3em;
    }
    
    .header {
        margin-bottom:2rem;
    }
    
    #tryfree {
        font-size:19px;
        height:55px;
        width:300px;
    }
    
    .section1 {
        padding-left:5em;
        padding-right:5em;
    }

    .section1 p {
        font-size:1.2em;
        padding-left:20px;
        padding-right:20px;
    }

    #item {
        margin:10px;
    }

    .signup {
        margin-bottom:8rem;
    }

    #socmed a {
        font-size:27px;
    }

    .footerlinks li {
        display:inline;
        margin-left:2em;
    }



}